In [9]:
pip install jinja2

Collecting jinja2
  Downloading jinja2-3.1.6-py3-none-any.whl.metadata (2.9 kB)
Collecting MarkupSafe>=2.0 (from jinja2)
  Downloading markupsafe-3.0.3-cp313-cp313-win_amd64.whl.metadata (2.8 kB)
Downloading jinja2-3.1.6-py3-none-any.whl (134 kB)
Downloading markupsafe-3.0.3-cp313-cp313-win_amd64.whl (15 kB)
Installing collected packages: MarkupSafe, jinja2

   -------------------- ------------------- 1/2 [jinja2]
   -------------------- ------------------- 1/2 [jinja2]
   ---------------------------------------- 2/2 [jinja2]

Successfully installed MarkupSafe-3.0.3 jinja2-3.1.6
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd

dict = {
    'Nome':[
        'Series',
        'Country',
        'Ano',
        'Access to electricity (% of population)',
        'Adolescent fertility rate (births per 1,000 women ages 15-19)',
        'Current health expenditure (% of GDP)',
        'GDP per capita (constant 2015 US$)',
        'Life expectancy at birth, total (years)',
        'Mortality rate, under-5 (per 1,000 live births)',
        'People using at least basic drinking water services (% of population)',
        'People using at least basic sanitation services (% of population)',
        'Population, total',
        'Poverty headcount ratio at $3.00 a day (2021 PPP) (% of population)',
        'Prevalence of undernourishment (% of population)',
        'School enrollment, primary (% net)',
        'School enrollment, secondary (% net)',
        'School enrollment, tertiary (% gross)',
        'Unemployment, female (% of female labor force) (modeled ILO estimate)',
        'Unemployment, male (% of male labor force) (modeled ILO estimate)'
    ],
    'Tipo':[
        'Categórico Discreto',
        'Categórico Nominal',
        'Numérico Discreto',
        'Numérico Contínuo',
        'Numérico Contínuo',
        'Numérico Contínuo',
        'Numérico Contínuo',
        'Numérico Contínuo',
        'Numérico Contínuo',
        'Numérico Contínuo',
        'Numérico Contínuo',
        'Numérico Discreto',
        'Numérico Contínuo',
        'Numérico Contínuo',
        'Numérico Contínuo',
        'Numérico Contínuo',
        'Numérico Contínuo',
        'Numérico Contínuo',
        'Numérico Contínuo'
    ],
    'Descrição':[
        "id para a tupla",
        "Nome do país ao qual os dados da linha se referem.",
        "Ano em que os dados do indicador foram registrados.",
        "EG.ELC.ACCS.ZS: Acesso à eletricidade (% da população)",
        "SP.ADO.TFRT: Taxa de fertilidade na adolescência (nascimentos por 1.000 mulheres de 15 a 19 anos)",
        "SH.XPD.CHEX.GD.ZS: Gastos com Saúde (% do PIB)",
        "NY.GDP.PCAP.KD: PIB per capita",
        "SP.DYN.LE00.IN: Expectativa de Vida",
        "SH.DYN.MORT: Mortalidade Infantil (por 1000)",
        "SH.H2O.BASW.ZS: Acesso à Água Potável (%)",
        "SH.STA.BASS.ZS: Acesso ao Saneamento Básico (%)",
        "SP.POP.TOTL: População Total",
        "SI.POV.DDAY: Taxa de pobreza de US$ 3,00 por dia (%)",
        "SN.ITK.DEFC.ZS: Prevalência de desnutrição (% da população)",
        "SE.PRM.NENR: Matrícula escolar primária (% líquida)",
        "SE.SEC.NENR: Matrícula escolar secundária (% líquida)",
        "SE.TER.ENRR: Matrícula escolar, terciário (% bruto)",
        "SL.UEM.TOTL.FE.ZS: Desemprego Feminino (%)",
        "SL.UEM.TOTL.MA.ZS: Desemprego Masculino (%)"
    ],
    'Dados_Faltantes':[
        'Não',
        'Não',
        'Não',
        'Não',
        'Não',
        'Sim',
        'Sim',
        'Não',
        'Não',
        'Sim',
        'Sim',
        'Não',
        'Sim',
        'Sim',
        'Sim',
        'Sim',
        'Sim',
        'Não',
        'Não'
    ]
}

df = pd.DataFrame(dict)
styled_df = df.style.set_table_styles(
    [
        {'selector': 'th', 'props': [('text-align', 'left')]},
        {'selector': 'td', 'props': [('text-align', 'left')]}
    ]
)

print("Período de análise: 2000 a 2023")
print("O conjunto de dados possui 230 amostras e 17 features.")
display(styled_df)

Período de análise: 2000 a 2023
O conjunto de dados possui 230 amostras e 17 features.