In [1]:
pip install Jinja2

Requirement already satisfied: Jinja2 in c:\users\conta\downloads\cdd\.venv\lib\site-packages (3.1.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\conta\downloads\cdd\.venv\lib\site-packages (from Jinja2) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

dict = {
    'Nome':[
        'identifier',      
        'title',           
        'creator',         
        'date',            
        'subject',          
        'language',         
        'description',      
        'collection',       
        'format',        
        'addeddate',       
        'downloads'
    ],

    'Tipo':[
        'Categorico Nominal',      
        'Categorico Nominal',           
        'Categorico Nominal',         
        'Data/Hora',            
        'Categorico Nominal',          
        'Categorico Nominal',         
        'Categorico Nominal',      
        'Categorico Nominal',       
        'Categorico Nominal',        
        'Data/Hora',     
        'Numerico discreto' 
    ],

    'Descrição':[
        'Identificador único do texto',
        'Tiltulo do texto',
        'Autor do texto',
        'Data de publicação',
        'Palavras chaves do texto',
        'Linguaguem do texto',
        'Sinopse ou resumo',
        'Coleção(s) a qual o texto pertence',
        'Formatos disponíveis do arquivo',
        'Data de adição no site',
        'Quantidade baixado'
    ],

    'Dados_Faltantes':[
        'Não', 
        'Não', 
        'Sim', 
        'Sim', 
        'Nao', 
        'Sim',
        'Sim', 
        'Não', 
        'Não', 
        'Não', 
        'Não'
    ]
}

df = pd.DataFrame(dict)
styled_df = df.style.set_table_styles(
    [
        {'selector': 'th', 'props': [('text-align', 'left')]},
        {'selector': 'td', 'props': [('text-align', 'left')]}
    ]
)

print("Período de análise: 2000 a 2025")
print("O conjunto de dados possui 9134 amostras e 11 features.")
display(styled_df)

Período de análise: 2000 a 2025
O conjunto de dados possui 9134 amostras e 11 features.